<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Suporte</title>
    <link rel="stylesheet" href="css/feedback.css" />
  </head>
  <body>
    <h1> feedback </h1>
    <form class="form">
      <label for="name">Nome</label>
      <input type="text" name="name" id="nome" required >
      <label for="email">E-mail</label>
      <input type="email" name="email" id="email" required >
        <label for="message">
          Mensagem
        <label>
      <textarea name="message" id="msg" required></textarea>
      <input type="hidden" name="_captcha" value="false" >
      <input  type="hidden" name="_next">

      
      <button type="submit" onclick="validar()">Enviar</button>
    </form>
    <script src="js/feed.js"></script>
  </body>
</html>