<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('../partials/head' , {titulo}) %>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transação</title>
    <link rel="stylesheet" href="css/pagamentos.css">
    <link rel="shortcut icon" type="imagex/png" href="/images/icone.webp" />
    <style>
    </style>
</head>
<body>
    <%- include('../partials/menu') %>

</body>
</html>