<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- include('../partials/head', {titulo}) %>
    <title></title>
    <link rel="shortcut icon" type="imagex/png" href="/images/icone.webp" />
    <link rel="stylesheet" href="css/time.css" />
</head>
<body>
    <ul id="header_conta">
        <li><a href="cadastro.html" id="header_conta__criar" title="Crie Sua Conta">Crie Sua Conta</a></li>
        <li><a href="login.html" id="header_conta__entrar" title="Entre">Entre</a></li>
    </ul>
    <%- include('../partials/menu') %>
    
    <div id="container">
        <div>
                    <h2 id="termos_titulo" class="main-title">Sobre</h2>
            <p  class="texto1">A Systemcar é especialista em estacionamentos em segurança de carros trabalhamos também com limpeza e reboque para que seu carro não fique sujo e tenham um resgate na hora em que vir a quebrar, além disso trabalhamos 24 horas por dia!
                <br>
                <br>
                Feito pra você que usa estacionamento! A liberdade que você sempre quis, com a segurança que já conhecia! Só com este plano do Systemcar você passa sem filas em todaos os estacionamentos do Brasil, pagando R$59,99 somente no mês que usar. Sem mensalidade no mês em que não usar. Flexível e simples assim!
            <br>
            <br>
            Importante: ao ficar 90 dias sem usar, haverá a cobraça de tarifa de manutenção no valor de R$ 9,90. Saiba mais em Dúvidas frequentes.
            <br>
            <br>
            Nossos parceiros da empresa:
             </p>
        </div>
        <div class="row" style="margin-top: 20px; flex-direction: row;" >
            <!--vini-->
            <div class="col-lg-4">
                <div class="membros">
                    <img class="img-thumbnail" src="images/Vinicius.png" alt="..." style="height: 300px; width: 300px;" />
                    <br>
                    <h4>Vinicius castro</h4>
                    <p class="text-muted">Desenvolvedor júnior</p>
                    <a href="https://github.com/vinicastro15" target="_blank"><img src="images/github.svg" alt="logo git hub" style="width: 30px; "></a>
                
                    <a href="https://www.linkedin.com/in/vinicius-castro-b4b672224/" target="_blank"><img src="images/linkedin (1).svg" alt="logo linkedin" style="width: 30px; "></a>
                </div>
            </div>
            <!--jonh-->
            <div class="col-lg-4">
                <div class="membros">
                    <img class="img-thumbnail " src="images/Jhonofc.jpeg" alt="..." style="height: 300px; width: 300px;" />
                    <br>
                    <h4>Jhonatan Brayan</h4>
                    <p class="text-muted">Desenvolvedor júnior</p>
                    <a href="https://github.com/Jhonbrayaan" target="_blank"><img src="images/github.svg" alt="logo git hub" style="width: 30px; "></a>

                    <a href="https://www.linkedin.com/in/jhonatanbrayan/" target="_blank"><img src="images/linkedin (1).svg" alt="logo linkedin" style="width: 30px; "></a>
                </div>
            </div>

            <!--Vitor-->
            <div class="col-lg-4">
                <div class="membros">
                    <img class="img-thumbnail " src="" alt="..." style="height: 300px; width: 300px;" />
                    <br>
                    <h4>Vitor Ferreira</h4>
                    <p class="text-muted">Desenvolvedor júnior</p>
                    <a href="https://github.com/vitorxxd3" target="_blank"><img src="images/github.svg" alt="logo git hub" style="width: 30px;"></a>

                    <a href="https://www.linkedin.com/in/vitor-fernandes-904a53253/" target="_blank"><img src="images/linkedin (1).svg" alt="logo linkedin" style="width: 30px; "></a>
                </div>
            </div>

                
         </div> 
        </div>  
        <br>
        <br>
    <section id="contato" >
        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center" id="footer">
                    <div class="col-lg-4 text-lg-start">@systemcar.estacione </div>
                    <div class="col-lg-4 my-3 my-lg-0">
                      <a href="https://github.com/pdagrupo-5"><img src="images/github.svg" alt="logo git hub" style="width: 30px;"></a>


                    </div>
                    <div class="col-lg-4 text-lg-end">
                        <a class="link-dark text-decoration-none me-3" href="#!">Politica de privacidade</a>
                        <a class="link-dark text-decoration-none" href="termos.html">Termos</a>
                    </div>
                </div>
            </div>
        </footer>
      </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>