@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
  margin: auto;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
h1{
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;

  color: #000;    
  margin: 0%;

  padding-top: 30px;
  padding-bottom: 63px;
}
button{
  background: #FFD700;

  width: 233px;
  height: 52px;

  border-radius: 6px;
  border: none;

  text-decoration: none;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;

  color: #000;

  cursor: pointer;

  margin: 68px 25px 32px 26px;
  
}
input{
  background: #E3E3E3;
  border-radius: 6px;
  border: none;
  
  width: 233px;
  height: 52px;

  box-sizing: border-box;

  margin-left: 26px;
  margin-right: 25px;  
  
  padding-left: 16px;

  font-family: 'Poppins', sans-serif;

  opacity: 50%;
}
select{
  cursor: pointer;
}
#input{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
#parcelas {
  background: rgba(227, 227, 227, 0.5);

  border-radius: 6px;
  border: none;
  
  width: 233px;
  height: 52px;

  box-sizing: border-box;

  margin-left: 26px;
  margin-right: 25px;  
  
  padding-left: 16px;

  font-family: 'Poppins', sans-serif;
  color: rgba(54, 63, 95, 0.8);

  
}
.transação{
  width: 284px;
  height: 415px;

  margin-left: 102px;

  box-sizing: border-box;
  box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.25);
  border-radius: 23px;
}
.inicio h1{
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 96px;

  color: hsl(0, 0%, 91%);

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  background: #FFD700;

  margin: 0%;
  
  padding-top: 54px;
  padding-bottom: 51px;
}
.tela{
  width: 1328px;
  height: 519px;

  display: flex;

  margin: 0%;

  padding-top: 42px;
  padding-bottom: 62px;
}
/* ----------Simulação ------------------------------------*/

.simular{
  Width: 782px;
  Height: 415px; 
  
  margin-left: 66px;

  box-sizing: border-box;
  box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.25);
  border-radius: 23px;
}
.simular h1{
  margin: 0%;
  padding-top: 30px;
  padding-bottom: 33px;
}
#caixa{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  margin-bottom: 23px;
  margin-top: 0%;
  
  

}
#caixa-1{
  Width: 195px;
  Height: 112px;

  background: #FFFFFF;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  margin-left: 34px;
}
#caixa-1 h3{

  font-size: 12px;
  line-height: 18px;

  color: hsl(227, 28%, 29%);

  margin: 0%;

  text-align: start;

  padding-left: 16px;
  padding-top: 9px;
  padding-bottom: 11px;
}
#caixa-1 h2{
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;

  color: hsl(147, 80%, 36%); 
  
  margin: 0%;

  text-align: start;
   padding-left: 16px;
   padding-bottom: 11px;
}
#caixa-1 p{
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;

  color: hsl(227, 15%, 64%);

  margin: 0%;
}
#vendas-data{
  display: flex;
  justify-content: space-around;
}