* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

#termos_titulo {
    display: flex;
    justify-content: center;
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase;
}

#termos_texto {
    padding-left: 10px;
    font-size: 20px;
    text-align: justify;
}

btn-3{
    margin-right: 20%;
}

main {
 padding: 10px 0;
}