* {
    text-decoration: none;
}

#termos_titulo {
    display: flex;
    justify-content: center;
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase;
}

#termos_texto {
    padding-left: 10px;
    font-size: 20px;
    text-align: justify;
}