.imgprofile{
  background-color: #ddd;
  border-radius: 50%;
  height: 200px;
  object-fit: cover;
  width: 200px;  
}

#membros{
  margin-bottom: 3rem;
  text-align: center;
  padding: 4%;
}


#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 0 10px ;
}

.col-lg-4 {
  width: 300px;
}

.row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#container h4 {
  padding-top: 10px;
}

#container > img{
  margin-bottom: 26px;
}

texto1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



@media (min-width: 900px) {

  #container {
    display: flex;
    justify-content: center;
  }
  
  #container h4 {
    padding-top: 10px;
  }
  
  #container a img {
    padding-right: 10px;
  }



}