@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{

    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffffff;
}

body,html,.usuario {
    width: 100%;
    height: 100%;
}


.titulo{
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
     
}

.navigation{
    position: relative;
    height: 100%;
    background: #efcf33;
    width: 70px;
    overflow-x: hidden;
    transition: 0.5s;
    top:0
}
.navigation:hover{
    width: 400px;
}

.navigation:hover ul {
    width: 400px;
}

.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
}
.navigation ul li{
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.navigation ul li a{
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: #fff;
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    text-align: center;
    line-height: 70px;
}

.navigation ul li a .icon ion icon{
    position: relative;
    font-size: 1.5rem;
    z-index: 1;
}

.navigation ul li a .title{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap ;
}




.navigation ul li.active{
    background: #202020;
}

.navigation ul li:hover{
    background: #202020;
}

.navigation ul li .active a ::before{
    content: '';
    position: absolute;
    top: 30px;
    right: 0;
    background: #fff;
    border-radius: 50%;
    box-shadow: 15px 15px 0 #099c22;
} 

.navigation ul li .active a ::after{
    content: '';
    position: absolute;
    bottom: -30px;
    top: 30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: #424242;
    border-radius: 50%;
    box-shadow: 15px -15px 0 #099c22;
} 

.container-perfil, .container-superior-perfil {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}


.caixa-perfil {
    width:25vw;
    background-color: rgb(239, 212, 9);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 500px;
}

.dados {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction:column;
}

.dado-perfil {
    width: 250px;
    background-color: #fff;
    height: 40px;
}

.perfil {
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(239, 212, 9);
    
}

.dados-perfil {
    background-color: rgb(239, 212, 9);
}

.img-perfil {
    border-radius: 80px;
    width: 10rem;
    height: 10rem;
}
.usuario{
    display: flex;
    flex-direction:row;
}

.foto-perfil{
    display: flex;
    flex-direction:row;
    align-items: flex-end;
}
.editar-perfil{
    width:40px;
    height:40px;
    border-radius:20px;
    margin-left:-40px;
    margin-bottom: 10px;
    background-color:#fff;
    align-items: center;
    justify-content: center;
}

.icon-perfil{
    margin-top:4px;
    margin-left:4px;
    align-self: center;
    min-width: 30px;
    height: 30px;
    text-align: center;
}