<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="css/login.css">
    <title>Login</title>
</head>

<body>
    <div class="container-login">
        <div class="img-box">
            <img src="./images/estacionamento.3.jpg">
        </div>
        <div class="content-box">
            <div class="form-box">
                <h2>Login</h2>
                <form>
                    <div class="input-box">
                        <span>Email</span>
                        <input type="email" placeholder="insira o seu email aqui" id="email">
                    </div>

                    <div class="input-box">
                        <span>Senha</span>
                        <input type="password" placeholder="insira sua senha aqui" id="senha">
                    </div>

                    <div class="remember">
                        <label>
                            <input type="checkbox"> Lembra senha 
                        </label>
                        <a href="#">Esqueceu a Senha?</a>
                    </div>

                    <div class="input-box">
                        <input type="submit" value="Entrar" onclick="validar()">
                    </div>

                    <div class="input-box">
                       <p>Não Tem Uma Conta? <a href="/cadastro">Cadastre-se</a></p>
                    </div>
                    <div class="input-box">
                        <p><a href="/">Voltar</a></p>
                     </div>
                    
                </form>                
            </div>
        </div>
    </div>
    <script src="js/login.js"></script>
</body>

</html>
           