<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./styles/cadastro.css">
  <link rel="shortcut icon" type="imagex/png" href="/images/icone.webp">
  <title>Formas de Pagamento</title>
</head>
<body>
  
  <div id="main-container">
    <div class="ui-box-component ui-box-component-pdp__visible--desktop">
      <h2 class="ui-box-component__title">Meios de pagamento</h2>
      <div class="ui-vip-payment_methods">
        <div class="ui-pdp-action-modal">
          <a class="ui-pdp-action-modal__link" href="https://produto.mercadolivre.com.br/noindex/services/MLB2197308438/payments?new_version=true&amp;modal=false&amp;newIndex=true">
            <div class="ui-pdp-media ui-vip-payment_methods__container ui-pdp-background-color--GREEN ui-pdp-color--WHITE">
              <figure aria-hidden="true" class="ui-pdp-media__figure">
                <svg class="ui-pdp-icon ui-pdp-icon--installments ui-pdp-color--CARD ui-pdp-color--WHITE ui-vip-payment_methods__card" width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <use href="#card">
                  </use>
                </svg>
              </figure>
              <a class="btn btn-grey-outline" id="btn-submit" href="/pagamento">Pague em até 5x sem juros!</a>
              <p class="ui-pdp-family--REGULAR ui-vip-payment_methods__title">Cartões de crédito</p>
              <div class="row">
                <div class="col-2">
                  <img ecoding="async" src="https://http2.mlstatic.com/storage/logos-api-admin/a5f047d0-9be0-11ec-aad4-c3381f368aaf-m.svg">
                  <img decoding="async" src="https://http2.mlstatic.com/storage/logos-api-admin/aa2b8f70-5c85-11ec-ae75-df2bef173be2-m.svg" class="ui-pdp-image ui-pdp-payment-icon" alt="Mastercard">
                  <img decoding="async" src="https://http2.mlstatic.com/storage/logos-api-admin/ddf23a60-f3bd-11eb-a186-1134488bf456-m.svg" class="ui-pdp-image ui-pdp-payment-icon" alt="Hipercard">
                  <img decoding="async" src="https://http2.mlstatic.com/storage/logos-api-admin/ed8d6fd0-f3bd-11eb-9984-b7076edb0bb7-m.svg" class="ui-pdp-image ui-pdp-payment-icon" alt="Elo">

                </div> 
              </div>
              <p class="ui-pdp-family--REGULAR ui-vip-payment_methods__title">Cartões de débito</p>
              <img decoding="async" src="https://http2.mlstatic.com/storage/logos-api-admin/d2407420-f3bd-11eb-8e0d-6f4af49bf82e-m.svg" class="ui-pdp-image ui-pdp-payment-icon" alt="Caixa">

              <p class="ui-pdp-family--REGULAR ui-vip-payment_methods__title">Boleto bancário</p>
              <img decoding="async" src="https://http2.mlstatic.com/storage/logos-api-admin/c53bc810-f3bd-11eb-8e0d-6f4af49bf82e-m.svg" class="ui-pdp-image ui-pdp-payment-icon" alt="Boleto">

    <div id="main-container"></div>
    <h3>Contrata o seu plano agora!</h3>

        <a class="btn btn-grey-outline" id="btn-submit" href="/plano">Adquirir Plano</a>

      </div>
    </form>
  </div>
  <p class="error-validation template"></p>
  <script src="js/scripts.js"></script>
</body>
</html>