<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cards</title>
    <link rel="stylesheet" href="css/plano.css" />
  </head>
  <body>
    <div>
      <div class="btn">
        <a class="link-dark text-decoration-none"> Formas de pagamentos </a>
    
      </div>
      <div class="row">
        <div class="col-2">
          <img ecoding="async" src="https://http2.mlstatic.com/storage/logos-api-admin/a5f047d0-9be0-11ec-aad4-c3381f368aaf-m.svg">
          <img decoding="async" src="https://http2.mlstatic.com/storage/logos-api-admin/aa2b8f70-5c85-11ec-ae75-df2bef173be2-m.svg" class="ui-pdp-image ui-pdp-payment-icon" alt="Mastercard">
          <img decoding="async" src="https://http2.mlstatic.com/storage/logos-api-admin/ddf23a60-f3bd-11eb-a186-1134488bf456-m.svg" class="ui-pdp-image ui-pdp-payment-icon" alt="Hipercard">
          <img decoding="async" src="https://http2.mlstatic.com/storage/logos-api-admin/ed8d6fd0-f3bd-11eb-9984-b7076edb0bb7-m.svg" class="ui-pdp-image ui-pdp-payment-icon" alt="Elo">
          <img decoding="async" src="https://http2.mlstatic.com/storage/logos-api-admin/d2407420-f3bd-11eb-8e0d-6f4af49bf82e-m.svg" class="ui-pdp-image ui-pdp-payment-icon" alt="Caixa">
          <img decoding="async" src="https://http2.mlstatic.com/storage/logos-api-admin/c53bc810-f3bd-11eb-8e0d-6f4af49bf82e-m.svg" class="ui-pdp-image ui-pdp-payment-icon" alt="Boleto">
        </div>
    
      </div>
    </div>
 
    <div class="container">
     
      <div class="card card-1">
      
        <div class="card-header">
          <img src="./images/card4.png" class="card-img" />
        </div>
      
        <div class="card-body">
          <h3 class="card-local">R$ 59,99</h3>
          <h2 class="card-titulo">Plano Basico</h2>
          <p class="card-texto">
           - acesso a estacionar 24hrs
          </p>
          <p class="card-texto2">
          - apenas carro pequeno
          </p>
        </div>
      
        <div class="card-footer">
          <a href="#">Ver Mais</a>
        </div>
      
      </div>
    
      <div class="card card-2">
      
        <div class="card-header">
          <img src="./images/images.png" class="card-img2" />
        </div>
       
        <div class="card-body">
          <h3 class="card-local">R$ 89,99</h3>
          <h2 class="card-titulo">Plano Avançado</h2>
          <p class="card-texto">
            - contem acesso a estacionar 24hrs
          </p>
          <p class="card-texto3">
              - carros grandes e pequenos 
          </p>
          <p class="card-text4">
              - acesso ao serviço 24hrs de reboque.
          </p>
        </div>
       
        
        <div class="card-footer">
          <a href="#">Ver Mais</a>
        </div>
        
      </div>
     
      <div class="card card-3">
      
        <div class="card-header">
          <img src="./images/download.png" class="card-img1" />
        </div>
        
        <div class="card-body">
          <h3 class="card-local">R$ 199,99</h3>
          <h2 class="card-titulo">Plano Pro</h2>
          <p class="card-texto">
            - contem acesso a estacionar 24hrs


          </p>
          <p class="card-text5">
            

            - carros grandes e pequenos
            
           
          </p>
          <p class="card-text6">
           
            
            - acesso ao serviço 24hrs de reboque.
          </p>
          <p class="card-text7">
              direito a garagem privada 
          </p>
        </div>


       
        <div class="card-footer">
          <a href="#">Assinar</a>
        </div>
      
      </div>
    </div>
  </body>
</html>