<div class="container">
    <div class="row align-items-center" id="footer">
        <div class="col-lg-4 text-lg-start">@systemcar.estacione</div>
        <div class="col-lg-4 my-3 my-lg-0">
          <a href="https://github.com/pdagrupo-5"><img src="../images/github.svg" alt="logo git hub" style="width: 30px; "></a>
          
        </div>

        <div class="col-lg-4 text-lg-end">
            <a class="link-dark text-decoration-none me-3" href="#!">Politica de privacidade</a>
            <a class="link-dark text-decoration-none" href="/termos">Termos</a>
            <br>
            <button type="button" class="btn pt-6  " ><a class="link-dark text-decoration-none" href="#header_titulo" id="voltar">Voltar ao topo</a></button>

        </div>
    </div>
</div>