<header>
    <h1 id="header_titulo" title="SystemCar" href="/">SystemCar</h1>
    <nav id="nav">
     <button aria-label="Abrir Menu" id="btn-mobile" aria-expanded="false" aria-haspopup="true" aria-controls="menu">
         <span id="hamburguer"></span>
     </button>
     <ul id="menu" role="menu">
         <li><a href="/" id="menu_um">Home</a></li>
         <li><a href="/termos" id="menu_dois" title="Termos">Termos</a></li>
         <li><a href="/time" id="menu_tres" title="Time">Sobre</a></li>
         
         <li><a href="/plano" id="menu_quatro" title="conheça nossos planos">conheça nossos planos</a></li>

     </ul>
 </nav>
 </header>