body {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

h3 {
    padding-top: 20px;
}

#servico_titulo {
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

#estacionamento {
    padding-top: 15px;
}

#estacionamento p {
    font-size: 15px;
    text-align: justify;
    padding: 20px
    25px;
}

#estacionamento_imagem {
    display: flex;
    justify-content: center;
    margin: auto;
    max-height: 65vh;
}

#sobre_titulo {
    display: flex;
    justify-content: center;
    font-size: 30px;
    text-align: center;
}

#sobre_texto {
    padding: 10px 20px;
    font-size: 20px;
    text-align: justify;
}

@media (min-width: 600px) {

    #carouselExampleCaptions h5 {
        text-transform: uppercase;
    }

    #servico_titulo {
        text-align: center;
        padding-top: 20px;
        font-size: 40px;
    }

    #sevico_imagem {
        max-height: 40px;
        width: auto;
    }


    

    #estacionamento {
        display: flex;
        justify-content: space-around;
        padding: 20px 40px 35px;
    }

    #estacionamento p {
        font-size: 35px;
        text-align: justify;
        margin-left: 80px;
        margin-right: 80px;
    }
    
    #estacionamento_imagem {
        display: flex;
        justify-content: center;
        margin: auto;
        max-height: 80vh;
        padding-left: 50px;
    }

    #sobre_texto {
        padding: 10px 5px 10px 10px;
        font-size: 20px;
    }
  

}

